.about-me-container{
    background:#ffffff no-repeat 70%;
    // background-size: 300px;
    position: relative;
    z-index: -1;
    padding: 0.7%; 
}
.about-me{
    display: flex;
    flex-direction: column;
}

.details-container{
    display: flex;
    @include desktop{
        flex-direction: column;
    
    }
}

.details-container img{
    width: 100%;
    @include desktop{
        padding-bottom: 50px;
    }
}

.author-img-container{
    width: 50%;
    padding-right: 10%;
    @include desktop{
        margin: 0 auto;
        padding: 0;
        width: 50%;
    }
    @include tablet{
        margin: 0 auto;
        padding: 0;
        width: 60%;
    }
    @include mobile-plus{
        margin: 0 auto;
        padding: 0;
        width: 60%;
    }
    @include mobile{
        margin: 0 auto;
        padding: 0;
        width: 90%;
    }
}



.details {
    margin: 0;
    width: 56%;
    @include desktop{
        margin: 0 auto;
        width: 90%;
    }
    h3{
        font-size: 2.4rem;
}
    p{
        font-size: 1.4rem;
        line-height: 2.5rem;
        @include desktop{
            font-size: 1.2rem;
            line-height: 2.5rem;
        }
        @include mobile-plus{
            font-size: 1rem;
            line-height: 2rem;
        }
        @include mobile{
            font-size: .9rem;
            line-height: 1.5rem;
        }
    }
    p:first-child{
        margin-top: 0;
    }
}


