$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$lrg-desktop-width: 1920px;
@mixin mobile {
    @media (max-width: #{$mobile-width}) {
     @content;
     } 
  } 
  @mixin mobile-plus {
     @media (min-width: #{$mobile-width + 1px}) and 
  (max-width: #{$tablet-width - 1px}){
     @content;
     }
  }
  @mixin tablet {
   @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
     @content;
   }
  }
  
  @mixin desktop {
   @media (max-width: #{$desktop-width}) {
     @content;
   }
  }
  @mixin large-desktop{
    @media(min-width:#{$desktop-width + 1px}) and (max-width: #{$lrg-desktop-width}){
        @content;
    }
  }


html, body
{
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
body {
     background: linear-gradient(90deg, rgba(43,192,228,1) 0%, rgba(43,192,228,1) 11%, rgba(234,236,198,1) 84%, rgba(234,236,198,1) 100%); 
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
    color: #4a4a4a;
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
}

h2{
    margin: 0 auto 5px auto;
    font-size: 3.2rem;
    @media(max-width:461px){
       font-size: 2.8rem;
     }
     @media(max-width: 380px){
         font-size: 2rem;
     }

}
.top-icon{
    height:30px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.wrapper{
    margin: 46px 18.23%;
    @include desktop{
        margin: 46px 10%;
     }
}

.wrapper-less{
    margin: 100px 10%; 
    @include mobile{
        margin: 100px 8%;
    }
}

.underline{
    margin: 0 auto 90px auto;
}
//Mixins
