
 
.portfolio-image-container{
    display: flex;
    align-items: center;
    margin-bottom: 15%;
    img{
        max-width: 390px;
        margin: 70px 30px 0px 0;
        transition: all 0.5s;
        box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.3);
    }
    /* Scale up the box */
img:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 4px -2px rgba(0,0,0,0.5);
  }
  
}
.portfolio-piece{
    display: flex;
    margin-bottom: 30%;
}

.portfolio-details{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 10%;
    padding-left: 20px;
    &:nth-child(2n){
        padding-right: 20px;
    }
    h4{
        font-size: 1rem;
    }
    h3{
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 2.2rem;
    }
    p{
        font-size: 1.4rem;
        line-height: 2.5rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    ul{
        display: flex;
        padding: 0;
        li{
            margin: 10px;
            font-size: 1rem;
        }
        li:first-child{
            margin-left: 0;
        }
    }

}


