// .portfolio{
//     background: linear-gradient(90deg, transparent, rgba(246, 133, 187, .7) 0%, rgba(212, 183, 250, 0.7) 100%);
// }
// .wrapper-less:first-child{
//     margin: 0 10% 100px 10%;
// }
.wrapper-less{
    margin: 100px 10%;
}

.wrapper-less section {
    display: flex;
    justify-content: center;
    &:nth-of-type(even){
        flex-direction: row-reverse;
    }

}   
.portfolio-image-container{
    display: flex;
    align-items: center;
    margin-bottom: 15%;
    img{
        max-width: 390px;
        margin: 70px 30px 0px 0;
        transition: all 0.5s;
    }
    /* Scale up the box */
img:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.3);
  }
  
}
.portfolio-piece{
    display: flex;
    margin-bottom: 30%;
}

.portfolio-details{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 10%;
    padding-left: 20px;
    &:nth-child(2n){
        padding-right: 20px;
    }
    h4{
        font-size: 1rem;
    }
    h3{
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 2.2rem;
    }
    p{
        font-size: 1.4rem;
        line-height: 2.5rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    ul{
        display: flex;
        padding: 0;
        li{
            margin: 10px;
            font-size: 1rem;
        }
        li:first-child{
            margin-left: 0;
        }
    }

}


