.skills{
 background-color: white;
 position: relative;
 z-index: -1;
}
.skills-long-wrapper{
    width: 70%;
    margin: 0 auto;
    padding: 100px 0;
}

.skill-icons{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
    // margin: 0 auto;

}
.devicons{
    padding: 5px;
    width: 20%;
    margin: 0 auto;
    @include mobile{
      width: 35%;
    }
    @include mobile-plus{
      width: 30%;
    }
}
.devicons i:first-child{
    font-size: 4rem;
}


.skills::after{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
  }

.firebasepng{
    width: 60px;
}

.pulse {
    animation: pulse infinite alternate linear 1s;
    opacity: 1;
    visibility: visible;
  }
  .pulse-slow {
    animation: pulse infinite alternate linear 2s;
    opacity: 1;
    visibility: visible;
  }

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }

  @keyframes pulse-slow {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }