header{
    height:100vh;
    width: 100vw;
    padding-top:10px;
    position: relative;
    z-index: 0;
    background: linear-gradient(90deg, transparent, rgba(43, 192, 228, .7) 0%, rgba(234, 236, 198, 0.8) 100%),
      url("/public/images/CRinside-500.png") -50px 80px no-repeat,
      url("/public/images/contact-background-lg.jpg") no-repeat;
      @include desktop{
        background:
        url("/public/images/CRinside-500.png") -50px 50px no-repeat,
        url("/public/images/contact-background-ls.jpg") center no-repeat;
      }
      @include mobile-plus{
        background: 
        url("/public/images/CRinside-500.png") -20px 20px no-repeat,
        url("/public/images/contact-background-l.jpg") center no-repeat;
      }
      @include mobile{
        background: 
        url("/public/images/CRinside-500.png") -20px 10px no-repeat,
        url("/public/images/contact-background-sm.jpg") center no-repeat;
      }
      @media(max-width:440px){
        background:   linear-gradient(90deg, transparent, rgba(43, 192, 228, .7) 0%, rgba(234, 236, 198, 0.8) 100%),
        url("/public/images/CRinside-250.png") 20px 80px no-repeat,
        url("/public/images/contact-background-sm.jpg") center no-repeat;
      }
}

header::after {
    background: white;
    content: '';
    display: block;
    height: 15%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
    bottom: 0;
    transform: skewY(-1.9deg);
    transform-origin: 100%;
    box-shadow: 0 -10px 10px  rgba(0, 0, 0, 0.3);
  }

li{
    list-style-type: none;
    text-transform: uppercase;
    a{
      color: #444444;
      transition: color 0.3s ease;
    }
    a::hover{
      color: #ffffff;
    }
    margin: 0 30px;
}

a:hover{
  color: rgb(43, 192, 228);
}

#menuToggle{
  display: block;
  position: fixed;
  top: 50px;
  right: 100px;
  z-index: 2;
  user-select: none; 
  transition: 0.3s;
  width: 50px;
  height: 50px;
  @media(max-width:600px){
     top: 10px;
     right: 42%;
     margin: 0 auto
  }
  @media(max-width:400px){
    margin: 0 auto;
  }
}

#menuToggle input{
  display: block;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 50px;
  right: 120px;
  opacity: 0;
  margin-bottom: 0;
  z-index: 2;
  padding: 25px;
  @media(max-width:600px){
    top: 10px;
    right: 42%;
 }
 @media(max-width:400px){
  top: 10px;
  right: 50%;
}
}

/*
 hamburger
 */
#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: rgb(43, 192, 228);
  border-radius: 3px;
  z-index: 1;

}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

#menu{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 20px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(0%, -100%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  @media(max-width:600px){
    margin: -100px 0 0 -90px;
 }
 @media(max-width:400px){
  margin: -100px 0 0 -75px;
}
}

#menu li{
  padding: 5px 0;
  font-size: 1.4rem;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul{
  transform: none;
}



.ml11 {
  font-weight: 700;
  font-size: 4.8rem;
  font-family: 'Raleway', sans-serif;
  @media (max-width: 730px){
    font-size: 4.6rem;
  }
  @media (max-width: 700px){
    font-size: 4.4rem;
  }
  @media (max-width: 670px){
    font-size: 4rem;
  }
  @media (max-width: 609px){
    font-size: 3.6rem;
  }
  @media (max-width: 549px){
    font-size: 3.4rem;
  }
  @media (max-width: 519px){
    font-size: 3.2rem;
  }
  @media (max-width: 489px){
    font-size: 3rem;
  }
  @media (max-width: 459px){
    font-size: 2.8rem;
  }
  @media (max-width: 425px){
    font-size: 2.6rem;
  }
  @media (max-width: 396px){
    font-size: 2.4rem;
  }
  @media (max-width: 366px){
    font-size: 2.2rem;
  }
  @media (max-width: 335px){
    font-size: 2rem;
  }
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  margin: 30% 0 auto;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 100%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
.career-title {
  font-size: 3rem;
  margin-left: 40%;
  @media (max-width: 752px){
    margin: 0 0 0 100px;
}
@media (max-width: 580px){
  margin: 0 auto;
  font-size: 2.2rem;
}
  @media (max-width: 453px){
  margin: 0 auto;
  font-size: 1.8rem;
}
  @media (max-width: 348px){
  margin: 0 auto;
  font-size: 1.6rem;
}
} 
